### Tuples

Tuple is similar to a list

The only difference between a list and a tuple is, tuple is immutable

### Tuple creation

In [1]:
# empty tuple
t = ()
print(t)

# tuple with integer value
t = (1,2,3,4,5)
print(t)

# tuple with mixed data
t = (1,2,3,"sam_interface","check")
print(t)

# nested tuple
t = ((1,2),(4,5),(6,7,8))
print(t)

()
(1, 2, 3, 4, 5)
(1, 2, 3, 'sam_interface', 'check')
((1, 2), (4, 5), (6, 7, 8))

In [2]:
# only paranthesis is not enough
t = ("sam_interface") # though the element is present in the (), when it is having only one element the 
# datatype will be of the element
print(type(t))

<class 'str'>

In [3]:
# should include a , after the element if tuple is having only one element
t = ("sam_interface",)
print(type(t))

<class 'tuple'>

In [6]:
# paranthesis is optional
t = "sam_interface",
print(type(t))

t = "allow","commas"
print(type(t))

<class 'tuple'>
<class 'tuple'>

### Accessing elements in tuple

In [7]:
t = ("Sam","Ram","Sham","Veena","Meera")
print(t[1])

Ram

In [8]:
# negative index
print(t[-1])

Meera

In [10]:
# nested tuple
t = ("one",("one.one","one.two","one.three"))
print(t[1])

# accessing element of the nested tuple
print(t[1][2]) # accessing the nested element using index 1 and accessing its element with index 2 to get
# one.three

('one.one', 'one.two', 'one.three')
one.three

In [13]:
# Slicing
t = (1,2,3,4,5,6,7,8,9)

print(t[1:4]) # print element from index 1 - 3

# print element from starting to second last element
print(t[:-2])

# print element from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Changing a tuple

Unlike list tuple are immutable, i.e the elements in the tuple cannot be changed

But if the tuple contains mutable items within them, then the mutable items can be changed

In [14]:
# creating a tuple
t = (1,2,2,3,[1,2,3,4,5])

t[4][1] = 6

print(t)

(1, 2, 2, 3, [1, 6, 3, 4, 5])

In [15]:
t[0] = 3
print(t)

TypeError: 'tuple' object does not support item assignment

In [16]:
# concatinating tuples

t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = t1+t2
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
# repeat the elements in the tuple for a given number of times
t = (("sam",)*5)
print(t)

('sam', 'sam', 'sam', 'sam', 'sam')

### Tuple deletion

In [21]:
#  We cannot delete the elements in the tuple as tuples are imutable.
# But we can delete the entire tuple
t = (1,2,3,4,5,6)
# delete entire tuple
del t

In [25]:
lst = [1,]*5
lst

[1, 1, 1, 1, 1]

### Count

In [26]:
t = (1,1,1,2,3,3,4,5,5,6,7)

print(t.count(1))

3

### Tuple Index

In [27]:
t = (1,2,3,4,3,4,5,5)
print(t.index(3)) # RETURN THE INDEX VALUE OF THE FIRST ELEMENT WITH 3 VALUE

2

### Tuple Membership

In [29]:
# test if the given item exist in a tuple or not, using the keyword in

t = (1,2,23,4,5,6,7,8)
if(1 in t):
    print("1 is in",t)
    
if(26 not in t):
    print("26 is not in",t)

1 is in (1, 2, 23, 4, 5, 6, 7, 8)
26 is not in (1, 2, 23, 4, 5, 6, 7, 8)

### Built in functions

### Tuple length

In [30]:
t = (1,2,3,4,5,6,7)
print(len(t))

7

### Tuple sort

In [31]:
t = (1,7,3,3,9,36,9,0)
new_t = sorted(t,reverse=True)
print(new_t)

[36, 9, 9, 7, 3, 3, 1, 0]

In [32]:
t = (1,2,3,6,7,3,34,0)

# tuple doesnt sort itself
t.sort()

print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [33]:
# get the largest element in tuple

t = (1,2,34,5,6,7,3)
print(max(t))

34

In [34]:
lst = [1,2,3,4,3,423,34,323,4]
print(max(lst))

423

In [35]:
# get the smallest element in the tuple
t = (0,1,3,4,2,7)
print(min(t))

0

In [ ]:
lst = [23,[34],56,62,344,86]