### Variables

A variable location in memory that stores some data(value)

They are given unique names to differentiate between memory locations. The rules for writing variable is same as that of identifiers

We dont need to declare variable before using it. In python we simply assign a value to the variable and it will exist. We don't even have to declare the type of variable. This is handled internally according to the value we assign to it

### Variable Assignment

In [1]:
# We use assignment operator to assign values to a variable

a = 10
b = 5.5
c = "ML"

### Multiple Assignments

In [2]:
a,b,c = 10,5.5,"ML"

In [3]:
a = b = c = "ML" #Assign the same value to multiple variables at once

### Storage Location

In [6]:
x = 3
print(id(x)) # prints address of variable x

140721997656976

Observation x & y points to the same memory location

id() is used to get the storage location

In [7]:
x = 3
y = 3
print(id(x))
print(id(y))

140721997656976
140721997656976

### Datatypes

Every value in python has a datatype, since everything in python is an object.

Datatypes are classes and variables are its instance

Integer, floating point numbers and complex numbers belong to numbers category in python. They belong to int, float and complex class respectively

We can use the type() function to know which class a varible or a value belong to and the instance() to check if an object belong to a particular class

In [13]:
a = 5
b = 5.5
c = 3j + 1
print(a, "is of type", type(a))
print(b, "is of type", type(b))
print(c, "is of type", type(c))

5 is of type <class 'int'>
5.5 is of type <class 'float'>
(1+3j) is of type <class 'complex'>

### Boolean

Boolean represents the truth value as True or False

In [14]:
a = True
print(type(a))

<class 'bool'>

### Python String

String is a sequence of unicode characters.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quote ''' or """

A string in python is a sequence of character that can consist of letter, numbers and special characters

Strings can be indexed - often called as subscripted as well

Similar to C, the first character of a string has the index of 0

In [15]:
s = "This is Online AI course"
print(s)

This is Online AI course

In [16]:
print(s[0])

T

In [19]:
# s[len(s) -1] and s[-1] gives the last character
print(s[len(s) - 1])

e

In [18]:
print(s[-1])

e

In [21]:
#slicing

print(s[:6]) # prints start to the 5 element, excluding the 6 element

This i

In [22]:
print(s[5:]) # prints elements from 5 element on wards

is Online AI course

In [23]:
print(s[5:9]) # prints element from 5 element to 8 element

is O

### Python Lists

List is an ordered sequence of items seperated by commas enclosed in "[]" brackets. 

This is the most common used datatype in python. 

Items in the list may or may not be homogenous.

List are mutable, i.e. the value of the elements in the list can be changed.

In [3]:
a = [10, 20.5, "Hello World"]
print(a)

[10, 20.5, 'Hello World']

In [4]:
print(a[1])

20.5

### Python Tuples

Tuple is an orderd sequence of item same as list.

They are immutable, means the value once created cannot be changed.

The items may or maynot be homogeneous and are enclosed in "()".

In [5]:
t = (1, 1.5, "ML")
print(t)

(1, 1.5, 'ML')

In [6]:
print(t[1])

1.5

In [7]:
# try to change the value in tuple

t[1] = 3

TypeError: 'tuple' object does not support item assignment

### Python Sets

Set is an unordered collection of unique items. 

Set is defined by values seperated by commas inside "{}". 

Items in the set are not ordered.

In [9]:
a = {10, 20, 30, 40, 5, 20}
print(a) # only unique item

{5, 40, 10, 20, 30}

In [10]:
print(type(a))

<class 'set'>

We can perform set operations like Union, Interaction on two sets. Set have unique value.

In [11]:
s = {10, 10, 20, 20, 20, 30, 40}
print(s) # unique values will be print

{40, 10, 20, 30}

In [12]:
print(s[1]) # We cannot print particular value sin set as it is not ordered

TypeError: 'set' object does not support indexing

### Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In python dictionary are defined in braces with key-value pairs, where key and values can be of an datatype.

In [14]:
d = {'a':"Apple",'b':"Bat"}
print(d)

{'a': 'Apple', 'b': 'Bat'}

In [16]:
print(d['a'])

Apple

### Conversion between datatypes

We can convert between different datatypes by using different type conersion fuctions like int(), float(), str() etc.

In [17]:
float(5) # conerts integer to float

5.0

In [18]:
int(5.5) # converts float to integer

5

In [19]:
str(20) # converts integer to string

'20'

Conversion to and from string must contain comaptible value

In [20]:
int(10p)

SyntaxError: invalid syntax (<ipython-input-20-db65c32a4627>, line 1)

In [24]:
user = "Satish"
lines = 100
print(user+", Congratulations you have written "+str(100)+" lines of code")

Satish, Congratulations you have written 100 lines of code

We can convert one sequence to another

In [25]:
a = [1, 2, 5, 3]
t = tuple(a)
print(t)

(1, 2, 5, 3)

In [ ]:
s = "Hello"
print(list(s)) # print