### List

1. List is one of the Sequence data structure

2. List are collection of items

3. List are enclosed in []

4. Each item in list as an assigned index value

5. Each item in the list are separated by comma

6. Lists are mutable, which means they can be changed

### List creation

In [1]:
empytList = []

lst = ['one','two','three']
print(lst)

lst2 = [1,2,3,4]
print(lst2)

lst3 = [[1,2,3],[4,5,6]]
print(lst3)

lst4 = [1,'ramu',1.4,24]
print(lst4)

['one', 'two', 'three']
[1, 2, 3, 4]
[[1, 2, 3], [4, 5, 6]]
[1, 'ramu', 1.4, 24]

### List length

In [2]:
lst = ["one","two","three","four","five"]
len(lst)

5

### List Append

In [3]:
lst = ["one","two","three","four"]
lst.append("five")
print(lst)

['one', 'two', 'three', 'four', 'five']

### List Insert

In [4]:
lst = ["one","three","four","five"]
lst.insert(1,"two")
print(lst)

['one', 'two', 'three', 'four', 'five']

### List Remove

In [5]:
lst = ["one","two","three","four","two"]
lst.remove("two") # it will remove th efirst element in the list
print(lst)

['one', 'three', 'four', 'two']

### List append and extend

In [1]:
#  Main difference in list append and extend can be seen when we use list to extend a list

lst = ["one","two","three","four"]
lst1 = ["five","six"]

lst.append(lst1) # This makes the list lst1 to add within the list
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [3]:
lst = ["one","two","three","four"]
lst1 = ["five","six"]

lst.extend(lst1) # this makes the list elements of list2 get added to the list1 rather than the list itself
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

### List delete

In [5]:
# Delete function helps to delete element based on the list index

lst = ["one","two","three","four"]
del lst[1]

print(lst)

# or we can use pop method

a = lst.pop(1)
print(lst)
print(a)

# Difference in the pop and delete is, "Delete" delete the element of particular index and doesn't return 
# it, whereas pop returns it

['one', 'three', 'four']
['one', 'four']
three

In [10]:
lst = ["one","two","three"]

lst.remove("three") # remove delete the value from the list rather than deleting the 
# element depending on the index
print(lst)

lst = ["one","two","three","four","two","five"]
lst.remove("two")
# lst.remove("TWO") This will return an exception as no value as "TWO" is present in the list
print(lst)

['one', 'two']
['one', 'three', 'four', 'two', 'five']

### List related keywords in Python

In [12]:
# keyword 'in' is used to check if an element is present in the list

lst = ["one","two","three","four","five"]
if("one" in lst):
    print(lst)
    
# keyword not can be combined with in

if("ML" not in lst):
    print("ML is not present in ",lst)

['one', 'two', 'three', 'four', 'five']
ML is not present in  ['one', 'two', 'three', 'four', 'five']

### List reverse

In [13]:
# this reverses the entire list

lst = [1,2,3,4,5,6,7,8,9,10]
lst.reverse()
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List sorting

The sorted function is used to sort the list

The sorted() doesnot change the original list

The keyword reverse = "True" sets the sorted list in descending order

In [18]:
lst = [12,34,11,10,2,3,5,1,100]
new_lst = sorted(lst)
print(new_lst) #new created list
print(lst) # original list

[1, 2, 3, 5, 10, 11, 12, 34, 100]
[12, 34, 11, 10, 2, 3, 5, 1, 100]

In [17]:
new_lst = sorted(lst,reverse=True)
print(new_lst) # new created list
print(lst) # original list

[100, 34, 12, 11, 10, 5, 3, 2, 1]
[12, 34, 11, 10, 2, 3, 5, 1, 100]

In [19]:
# sort(), sorts the list and makes the change to the original list
lst = [1,2,10,4,5,14,8,12]
lst.sort()
print(lst)

[1, 2, 4, 5, 8, 10, 12, 14]

### List Having Multiple References

In [21]:
lst = [1,2,3,4,5]
lst.append(6)
print("Original list:",lst)

Original list: [1, 2, 3, 4, 5, 6]

### String split to create list

In [22]:
# lets take a string
s = "one,two,three,four,five"
s_lst = s.split(",")
print(s_lst)

['one', 'two', 'three', 'four', 'five']

In [23]:
s = "This is my goal, set for 2020"
s_lst = s.split()
print(s_lst)

['This', 'is', 'my', 'goal,', 'set', 'for', '2020']

### List Indexing

Each item in the list has an assigned index valuestarting from 0

Accessing the elements in a list is called indexing

In [25]:
lst = [1,2,3,4,5]
print(lst[1]) #prints the element at index position 1

print(lst[-1]) # prints last element using negative index

2
5

### List slicing

Accessing part of the list is called slicing

The part after : is the first value from where the sliced part list wont have the values

In [28]:
lst = [1,2,3,4,5,5,6,7,7]

# print all the lst
print(lst[:])

print(lst[0:3]) # will get the values from 0th index to 2nd index

[1, 2, 3, 4, 5, 5, 6, 7, 7]
[1, 2, 3]

In [30]:
number = [1,2,3,4,5,6,7,8,9,10]

print(number[::2]) # prints alternate number of the list

#print list starting from 1st index with alternate numbers
print(number[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

### List extend using +

In [32]:
lst1 = [1,2,3,4]
lst2 = ["Navin","Verma","Veena","Shenoy"]

print(lst1+lst2)

[1, 2, 3, 4, 'Navin', 'Verma', 'Veena', 'Shenoy']

### List elements count

In [35]:
lst = [1,1,2,3,4,1,4,5,6,7]
# count the number of times 1 is present in the list
print(lst.count(1))

#frequency of 4 in the list
print(lst.count(4))

3
2

### List looping

In [36]:
lst = ["one","two","three","four","five","six","seven","eight","nine","ten"]
# looping the elements in the list
for i in lst:
    print(i)

one
two
three
four
five
six
seven
eight
nine
ten

### List comprehensions

In [38]:
# without list comprehension

square = []

for i in range(1,10):
    square.append(i**2)

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# with list comprehension

square = [i**2 for i in range(1,10)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
#example

lst = [-10,-20,10,20,40,-30]

# creates a new list with values doubled of list lst
new_lst = [i*2 for i in lst]
print(new_lst)

#filter list to exclude negative number
new_lst = [i*2 for i in lst if(i >= 0)]
print(new_lst)

#create a list of tuples

new_lst = [(i, i*2) for i in range(1,10)]
print(new_lst)

[-20, -40, 20, 40, 80, -60]
[20, 40, 80]
[(1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18)]

### Nested list comprehension

In [43]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
# transpose of matrix without comprehension

new_matrix = []
for i in range(len(matrix[0])):
    lst = []
    for row in matrix:
        lst.append(row[i])
    new_matrix.append(lst)
print(new_matrix)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [45]:
#  with list comprehension

new_matrix = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(new_matrix)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [47]:
# Transpose matrix

matrix = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20],
    [21,22,23,24,25]
]

transpose = []
for col in range(len(matrix[0])):
    lst = []
    for row in matrix:
        lst.append(row[col])
    transpose.append(lst)
print(transpose)

[[1, 6, 11, 16, 21], [2, 7, 12, 17, 22], [3, 8, 13, 18, 23], [4, 9, 14, 19, 24], [5, 10, 15, 20, 25]]