### Read and write CSV and XLS files

In [5]:
# to install pandas
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import pandas as pd

In [3]:
# read csv

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
# to install xlrd
import sys
!{sys.executable} -m pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 3.3MB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [4]:
df = pd.read_excel("weather_data.xlsx")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
# write df to csv

df.to_csv("new.csv")
df.to_csv("new_no_Index.csv",index = False)

In [7]:
# to install openpyxl
import sys
!{sys.executable} -m pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/5f/f8/a5d3a4ab669f99154f87ab531192dd84ac79aae62efab662bd2d82a72194/openpyxl-2.6.1.tar.gz (173kB)
    100% |████████████████████████████████| 174kB 7.6MB/s ta 0:00:01
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/a0/38/dcf83532480f25284f3ef13f8ed63e03c58a65c9d3ba2a6a894ed9497207/jdcal-1.4-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Building wheel for openpyxl (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/73/73/c8/bbc0e4a79fc525440783741909e4e47024430f082fc7e0936f
  Building wheel for et-xmlfile (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4 openpyxl-2.6.1

In [12]:
# write df to Excel
df.to_excel('new.xlsx', sheet_name='weather_data')

### GROUP-BY

In [13]:
df = pd.read_csv("weather_data_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [14]:
g = df.groupby('city')
g

In [15]:
for city,city_df in g:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [18]:
# or to get specific group

g.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [19]:
# find maximum temperature in each of the cities

print(g.max())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [20]:
g.mean()

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [22]:
print(g.describe())

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

### concatenate Data Frames

In [23]:
# make use of dictionary to make dataframes
india_weather = pd.DataFrame({
    'city':['mumbai','delhi','banglore'],
    'temperature':[32,45,30],
    'humidity':[80,60,70]
})

india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70

In [24]:
us_weather = pd.DataFrame({
    'city':['new york','chicago','orlando'],
    'temperature':[21,14,35],
    'humidity':[68,65,75]
})

us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [26]:
# concatinate two DF

df = pd.concat([india_weather,us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [27]:
# if you want continous index

df = pd.concat([india_weather,us_weather],ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

In [28]:
# To show the DF in single row

df = pd.concat([india_weather,us_weather],axis=1)
df

       city  temperature  humidity      city  temperature  humidity
0    mumbai           32        80  new york           21        68
1     delhi           45        60   chicago           14        65
2  banglore           30        70   orlando           35        75

### Merge DataFrames

In [29]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore", 'hyderabad'],
    "temperature": [32,45,30,40]})
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2   banglore           30
3  hyderabad           40

In [30]:
humidity_df = pd.DataFrame({
    "city": ["delhi","mumbai","banglore"],
    "humidity": [68, 65, 75]})
humidity_df

       city  humidity
0     delhi        68
1    mumbai        65
2  banglore        75

In [31]:
#merge two dataframes with out explicitly mention index
df = pd.merge(temperature_df,humidity_df, on='city')
df

       city  temperature  humidity
0    mumbai           32        65
1     delhi           45        68
2  banglore           30        75

In [32]:
#OUTER-JOIN

df = pd.merge(temperature_df,humidity_df,on='city',how='outer')
df

        city  temperature  humidity
0     mumbai           32      65.0
1      delhi           45      68.0
2   banglore           30      75.0
3  hyderabad           40       NaN

### Numerical Indexing (.loc vs iloc)

In [35]:
df = pd.DataFrame([1,2,3,4,5],index=[10,11,12,13,10])
df

    0
10  1
11  2
12  3
13  4
10  5

In [40]:
df.loc[:10] # raise error as index 10 is repeating

KeyError: 'Cannot get right slice bound for non-unique label: 10'

In [39]:
df.loc[:11]

    0
10  1
11  2

In [44]:
df.loc[10] # if same index value is given to more than one element, then all the elements will be returned

    0
10  1
10  5

In [43]:
df.loc[12]

0    3
Name: 12, dtype: int64

In [47]:
# iloc is used to get values based on the original index other than the customised index provided
df.iloc[:2]

    0
10  1
11  2

In [48]:
df.iloc[2]

0    3
Name: 12, dtype: int64

In [49]:
df.iloc[12]

IndexError: single positional indexer is out-of-bounds